<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/LogoPagina.png" width="100" height="100" class="d-inline-block align-top" alt=""></a> <button
      class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/usuarios" class="nav-link" routerLinkActive="active">Lista De Usuarios</a>
    </li>
    <li class="nav-item">
      <a routerLink="/agregarusuario" class="nav-link" routerLinkActive="active">Agregar Usuario</a>
    </li>
  </ul>


</nav>